
@{
    ViewBag.Title = "_Layoutlc";
    Layout = "~/Views/Shared/_LayoutYeni.cshtml";
}

<div style="width:200px;height:100px;background-color:chartreuse;float:left;">
    @RenderBody()
</div>

<div style="float:right;width:300px;height:150px;background-color:firebrick;color:white;">
    Sağ Taraf
</div>
