<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.Partial("_HeaderPartial")
    <div>
        @RenderBody()
    </div>
    @Html.Partial("_FooterPartial")
</body>
</html>
