
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Kategori Sistemi</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="~/Controllers/Kategori">Kategoriler</a></li>
            <li><a href="~/Controllers/Urun">Urunler</a></li>
            <li><a href="#">Güncelle</a></li>
            <li><a href="#">Sil</a></li>
        </ul>
    </div>
</nav>