
@{
    ViewBag.Title = "MusteriTemsilcisi";
}

<head>
    <link href="@Url.Content("~/Content/CssKodlari.css")" rel="stylesheet" />
</head>

<body>
    <div class="MusteriTemsilciAdi">
        Ümmü Gülsüm Kılıç
    </div>
</body>

