
@{
    ViewBag.Title = "Yonetici";
}

<head>

<style type="text/css">
    .YoneticiAdi{
        width:300px;
        height:100px;
        background-color:yellow;
        color:red;
        font-family:'Comic Sans MS';
        font-size:20px;
        font-style:italic;

</style>
       </head>

<body>
    <div class="YoneticiAdi">
        Resul kIlıç
    </div>
</body>
