<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PersonelSistemi</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="~/Models/Departman.cs">Departmanlar</a></li>
            <li><a href="~/Models/Personel.cs">Personeller</a></li>
            <li><a href="#">Giriş Yap</a></li>
            <li><a href="#">Üye ol</a></li>
        </ul>
    </div>
</nav>
