
@{
    ViewBag.Title = "AnaSayfa";
    Layout = "~/Views/Shared/_LayoutYeni.cshtml";
}

<div style="width:200px;height:200px;background-color:aqua;color:navajowhite;font-size:20px;">AnaSyafadasınız</div>

