
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_LayoutYeni.cshtml";
}

<div style="width:200px;height:200px;font-size:20px;background-color:chartreuse;color:black;">İletşim adresimiz</div>

